body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Card UI */
.card {
    background: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 320px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Search box */
.search {
    display: flex;
    margin-bottom: 20px;
}

.search input {
    flex: 1;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #ccc;
}

.search button {
    padding: 10px;
    border: none;
    background: #4facfe;
    color: white;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.search button:hover {
    background: #007bff;
}

/* Weather section */
.weather img {
    width: 100px;
}

.details {
    margin-top: 10px;
    font-size: 16px;
}